<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.phone_number %></p>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.rating %> <%= review.content %></li>
  <% end %>
</ul>

<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
<%= link_to "Edit restaurant", edit_restaurant_path(@restaurant.id) %>
<%= link_to "Back to all restaurants", restaurants_path %>
